@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');



.App {
  text-align: center;
}

.site {
  background-color: rgb(199, 255, 199);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-case {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

svg {
  display: block;
  width: 80%;
  height: 300px;
  background: #f7f7f7;
  overflow: visible;
  
}

svg rect.selection {
  stroke: none;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  height: 100%;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}

h2 {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: "Playfair", sans-serif;
}

.tabs-container-test {
  background-color: rgb(232, 255, 232);
}
.app-container {
  background-color: red;
}

.app {
  width: 100%;
  height: 100%;
  margin: auto;
}

// .card-columns {
//   display: flex;
//   flex-flow: wrap;
// }

#home-page-image-div {
  position: relative;
  background-size: cover;
  height: auto;
  width: auto;

}

#home-page-info {
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-align: center;
}

#home-page-info2 {
  font-weight: 700;
  font-size: 50px;
  color: white;
  text-align: center;
}

.home-page-info3 {
  font-weight: 400;
  font-size: 37px;
  color: white;
  padding-left: 5%;
}

#home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home-page-background {
  background-image: url('./components/images/whitecoat.jpg');
  margin-top: 4.5rem;
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
}

.sim-page-container {
  margin-top: 4.5rem;
  min-height: 100vh;
  max-height: 100vh;
}

#intro-text-container {
  margin-top: 10rem;
  // margin-left: 1rem;
  text-align: center;
}

.bold-font {
  font-weight: bold;
  animation: slide-up 2s;
}

@keyframes slide-up {
  from {
        
    opacity: .25;
    line-height: 200px;
}
to {
    
    opacity: 1;
    line-height: 38px;
}
}

#home-page-buttons {
  padding-top: 10%;
}

#learn-more {
  padding-left: 30%;
}

#sign-up {
  padding-right: 30%;
}

#second-half-home-page {
  padding-top: 18rem;
}

.about-site-text {
  padding-left: 5rem;
}

.about-site-header {
  padding-top: 30px;
}

.icon-size {
  min-width: 25%;
  max-width: 100%;
  max-height: 100%;

}

#heart-container {
  padding-top: 20px;
  padding-bottom: 3rem;
  // padding-left: 50%;
  margin: auto;
  
}
#home-page-footer {
  background-color: #8cc896;
  height: 10%;
}

#icons-home-page-container {
  padding-right: 5rem;
}

// .icon-size2 {

//   max-height: 40%;
//   padding-top: 50%;
//   margin-left: 20%;
// }

#center-welcome {
  text-align: center;
}

#sim-title {
  margin: auto;
}

#sim-header {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#sim-explanation {
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #8cc896;
}

.contact-form-container {
  padding-top: 100px;
}

.auth-button {
  padding-top: 50px;
  text-align: center;
}

.authenticate {
  padding-top: 130px;
  margin: auto;
  width: 50%;
}

// *{ border: 1px solid red; }

@import "~bootswatch/dist/minty/variables";

@import 'node_modules/bootstrap/scss/bootstrap'; // existing bootstrap import

@import "~bootswatch/dist/minty/bootswatch";

.bg-dark {
  background-color: #343a40  !important;
}

.unity-container {
  margin: auto;
  padding-top: 20px;
  height: 500px;
  width: 800px;
}


.card-columns {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card-deck {
  max-width: 1000px;
}

.card {
  min-width: 50px;
}

.profile-page-padding {
  padding-top: 100px;
  padding-left: 30px;
}

.col-sm-3 {
  padding-top: 20px;
  background-color: #f7f7f7;
  height: max-content;
}
