.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-case {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

svg {
  display: block;
  width: 80%;
  height: 300px;
  background: #f7f7f7;
  overflow: visible;
  
}

svg rect.selection {
  stroke: none;
}

#root {
  /* max-width: 600px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: center; */
  /* height: 100vh; */
  /* padding: 0 50px 150px; */
  text-align: center;
  box-sizing: border-box;
}

/* button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
} */

.field {
  display: inline-block;
  margin: 0 0.5em;
}

.field input {
  margin-right: 0.5em;
}

div.card-columns {
  
}